.about{
    /* width: 100%; */
    /* background-color: pink; */
}
.about-img{
    width: 50%;
    text-align: center;
    /* background-color: green; */
}
.about-img img{
    width: 100%;
    max-width: 300px;
    /* background-color: red; */
   
    
    
    object-fit: cover;
    border-radius: 25px;
}
.about-content{
    width: 50%;
    
   

}
.about-content h2{
    text-transform: uppercase;
    color: var(--btn-color);
    
}
@media screen and (max-width:776px){
    .about{
        flex-direction: column;
        text-align: start;
        

    }
    .about-img{
        width: 80%;
        /* background-color: green; */
    }
    .about-content{
        width: 100%;
        
        
    }
    .about-content h2{
        text-align: center;
    }

    
}