/* .contact{
    min-height: 60vh;
} */
.contact-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.contact-box a{
   text-align: center;
}
@media screen and (max-width:768px){
    .contact-box{
        grid-template-columns: 1fr;
    }

    
}
