
.box{
    transition: transform 0.3s ease-in-out;
    text-align: center;
}
.box:hover {
    transform: translateY(-10px);
  }
  .skill-box{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 20px;
    max-width: 1000px;
  margin: auto;
  }
  @media screen and (max-width:992px){
   .skill-box{
    grid-template-columns: repeat(6,1fr);
   }
    
  }
  @media screen and (max-width:776px){
    .skill-box{
     grid-template-columns: repeat(5,1fr);
    }
     
   }
   @media screen and (max-width:556px){
    .skill-box{
     grid-template-columns: repeat(4,1fr);
    }
     
   }